<?xml version="1.0" encoding="utf-8"?>

<launch>


    <machine name="jetson1" address="jetson1.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson2" address="jetson2.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson3" address="jetson3.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson4" address="jetson4.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson5" address="jetson5.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson6" address="jetson6.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>

    <!-- Console launch prefix -->
    <arg name="launch_prefix" default=""/>

    <!-- Config and weights folder. -->
    <arg name="yolo_weights_path"          default="/home/nvidia/catkin_ws/src/yolo_eb/darknet_ros/darknet_ros/yolo_network_config/weights"/>
    <arg name="yolo_config_path"           default="/home/nvidia/catkin_ws/src/yolo_eb/darknet_ros/darknet_ros/yolo_network_config/cfg"/>

    <!-- ROS and network parameter files -->
    <arg name="ros_param_file"             default="$(find eb_darknet)/config/ros.yaml"/>
    <arg name="network_param_file"         default="$(find eb_darknet)/config/yolov3-tiny-2c-ground.yaml"/>

    <!-- Load parameters -->
    <!--<rosparam command="load" ns="darknet_ros" file="$(arg ros_param_file)"/>-->
    <rosparam command="load" ns="jetson1_eb_darknet" file="$(arg network_param_file)"/>
    <rosparam command="load" ns="jetson2_eb_darknet" file="$(arg network_param_file)"/>
    <rosparam command="load" ns="jetson3_eb_darknet" file="$(arg network_param_file)"/>
    <rosparam command="load" ns="jetson4_eb_darknet" file="$(arg network_param_file)"/>
    <rosparam command="load" ns="jetson5_eb_darknet" file="$(arg network_param_file)"/>
    <rosparam command="load" ns="jetson6_eb_darknet" file="$(arg network_param_file)"/>

    <!-- Start darknet and ros wrapper -->
    <node pkg="eb_darknet" type="eb_darknet" name="jetson1_eb_darknet" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson1">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson1/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson1/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson1/detection_image"/>
    </node>

    <node pkg="eb_darknet" type="eb_darknet" name="jetson2_eb_darknet" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson2">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson2/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson2/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson2/detection_image"/>
    </node>

    <node pkg="eb_darknet" type="eb_darknet" name="jetson3_eb_darknet" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson3">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson3/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson3/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson3/detection_image"/>
    </node>

    <node pkg="eb_darknet" type="eb_darknet" name="jetson4_eb_darknet" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson4">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson4/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson4/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson4/detection_image"/>
    </node>

    <node pkg="eb_darknet" type="eb_darknet" name="jetson5_eb_darknet" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson5">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson5/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson5/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson5/detection_image"/>
    </node>

    <node pkg="eb_darknet" type="eb_darknet" name="jetson6_eb_darknet" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson6">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson6/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson6/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson6/detection_image"/>
    </node>

    <!--<node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->
</launch>
