<launch>
    <machine name="jetson2" address="localhost" />


    <arg name="launch_prefix" default=""/>

    <arg name="yolo_weights_path"          default="/home/nvidia/catkin_ws/src/Yolo_pipe_detector/darknet_ros/darknet_ros/yolo_network_config/weights"/>
    <arg name="yolo_config_path"           default="/home/nvidia/catkin_ws/src/Yolo_pipe_detector/darknet_ros/darknet_ros/yolo_network_config/cfg"/>


    <arg name="network_param_file"         default="$(find Yolo_pipe_detector)/darknet_ros/darknet_ros/config/yolov3-tiny-2c.yaml"/>
    <rosparam command="load" ns="darknet_ros" file="$(arg network_param_file)"/>


    <node pkg="eb_darknet" type="eb_darknet" name="jetson2_eb_detector" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson2">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
    <param name="image_input" 			value="/jetson2/qhd/image_color"/>
    <param name="bb_pub" 			    value="/jetson2/bounding_boxes"/>
    <param name="detectedImage_pub" 	value="/jetson2/detection_image"/>
    </node>
</launch>
